<div class="select-container" (click)="toggleDisplay()">
    <div class="select-input" [class.opened]="visible">
        <span class="select-text" *ngIf="!visible"
            [innerText]="inputPlaceholderText"></span>
        <input autofocus type="text" class="search-input" *ngIf="visible" #searchInput
            (click)="handleInputFocus($event)"
            (keyup)="handleSearchEvent($event)"
            [(ngModel)]="searchTerm"
            [placeholder]="searchPlaceholderText" />
        <span class="clear-search" *ngIf="visible"
            (click)="clearSearch($event)">X</span>
        <span class="caret vertical-center"></span>
    </div>
    <div class="select-options-container" *ngIf="visible">
        <div class="select-options"
            infinite-scroll
            [scrollWindow]="false"
            [infiniteScrollDistance]="3"
            [infiniteScrollThrottle]="100"
            (scrolledUp)="onScrollUp($event)"
            (scrolled)="onScrollDown($event)">
                <p *ngIf="(options === null || options.length < 1) && !hasSearchTerm"
                    [innerText]="optionsPlaceholderText"></p>
                <p *ngIf="(options === null || options.length < 1) && hasSearchTerm"
                    [innerText]="noSearchResultsPlaceholderText"></p>
                <div *ngFor="let option of displayedOptions" class="select-option-item" (click)="handleOptionSelect($event, option)">
                    <md-checkbox
                        [checked]="isSelected(option)"></md-checkbox>
                    <span [innerText]="getOptionLabel(option)"></span>
                </div>
        </div>
    </div>
</div>
