$grey600: #D6D6E4 !default;
$loop100: #df4760 !default;
$grey800: #F5F5F5 !default;
$grey900: #FFFFFF !default;
$slate700: #626272 !default;

:host {
    display:block;
    .select {
        &-container {
            position:relative;
            cursor: pointer;
            border:1px solid $grey600;
            border-radius:5px;
            width:100%;
            font-style:italic;
            font-weight:500;
            .caret {
                right: 10px;
                color: $loop100;
                font-size:15px;
                border-top: 6px dashed;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }
        }
        &-input {
            position:relative;
            padding:5px 10px;
            color: $slate700;
            &.opened {
                padding:0 10px 0 0;
            }
            .search-input {
                font-style:normal;
                border-color: transparent;
                border-top-left-radius: 5px;
                border-bottom-left-radius:5px;
                &:focus {
                    outline:0;
                }
            }
            .clear-search {
                font-size: 10px;
                font-style: normal;
                color: $slate700;
            }
        }
        &-option-item {
            padding:5px 10px;
            border-top:1px solid $grey800;
            &:first-child {
                border-top:0;
            }
            &:hover {
                background-color:$grey800;
            }
        }
        &-options {
            position: absolute;
            background: $grey900;
            width: 100%;
            overflow-y:scroll;
            max-height: 200px;
            &-container {
                border: 1px solid;
                display: block;
                position: relative;
                width: 100%;
            }
        }
    }
}
